<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.toprecorder.my-service</string>
	<key>ProgramArguments</key>

	<array>
		<string>/Users/ray/.config/myservice/top_recorder.sh</string>
	</array>

	<!-- 每 N 秒执行一次 -->
	<key>StartInterval</key>
	<integer>30</integer>

	<!-- 启动时立即执行一次 -->
	<key>RunAtLoad</key>
	<true/>

	<!-- 将内容写入文件中 -->
    <key>StandardOutPath</key>
	<string>/Users/ray/top_recorder.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/my-service.log</string>
</dict>
</plist>
