# '/*' 排除当前文件夹下所有文件(夹); '*' 排除所有文件(夹)以及递归文件(夹), 不要使用 '*'.
/*

# exclude file
!/.gitignore
!/Brewfile

# exclude folder
!/alacritty
!/backup
!/.my_shell_functions

# exclude folder, and then ignore 'file' & 'sub-folder' inside the folder.
!/nvim
/nvim/todo*
